* {
	font-family: "Montserrat", sans-serif;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}

input[type="file"] {
	display: none;
}

p, a {
	font-size: 16px;
	margin-top: 5px;
}

.centered {
	display: flex;
	justify-content: center;
}

.customfileinput {
	display: inline-block;
	cursor: pointer;
}

.dialogtop {
	width: 100%;
	background: #fa0;
	padding: 10px;
	margin: 0px;
	box-sizing: border-box;
}

.dialogp {
	margin-left: 10px;
}

.scratchicon {
	width: 20px;
	height: 20px;
	padding: 5px;
	display: inline;
	margin: 0px;
}

.scratchicon:hover {
	background: #ffe0c0;
	border-radius: 5px;
}

.scratchwidthcontainer {
	width: 480px;
}

#closesettingsicon {
	width: 10px;
	height: 10px;
	padding: 10px;
	border-radius: 15px;
	background: #d87800;
	float: right;
}

#closesettingsicon:hover {
	background: #ad6000;
}

#scratchurl {
	width: 480px;
	border: 0;
	font-size: 24px;
	color: #808080;
}

#scratchurl:focus {
	color: #000;
	outline: none;
}

#settingsdialog {
	width: 500px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 0px;
}

#settingsicon {
	position: fixed;
	top: calc(100% - 90px);
	left: calc(100% - 90px);
	width: 35px;
	height: 35px;
	padding: 12.5px;
	background: #dae0e8;
	border-radius: 30px;
}

#settingsicon:hover {
	background: #c2cbd8;
}

#window {
	border: 1px solid #808080;
	width: 480px;
	height: 360px;
}