:root {
	--pagewidth: 480px;
}

* {
	font-family: "Montserrat", sans-serif;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}

hr {
	width: calc(100% - 40px);
	margin-top: 5px;
	margin-bottom: 5px;
}

input[type="file"] {
	display: none;
}

p, a {
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 0px;
}

.centered {
	display: flex;
	justify-content: center;
}

.customfileinput {
	display: inline-block;
	cursor: pointer;
	margin-top: 15px;
}

.customsliderinline {
	flex-grow: 1;
}

.customsliderinline {
	-webkit-appearance: none;
	appearance: none;
	height: 10px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
}

.customsliderinline:hover {
	opacity: 1;
}

.customsliderinline:focus {
	border: 1px solid black;
}

.customsliderinline::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 13px;
	height: 20px;
	border-radius: 4px;
	background: #888;
	cursor: pointer;
}

.customsliderinline::-moz-range-thumb {
	width: 13px;
	height: 20px;
	border-radius: 4px;
	background: #04AA6D;
	cursor: pointer;
}

.dialogentry {
	margin-left: 30px;
	margin-top: 10px;
	width: calc(100% - 50px);
	display: flex;
	align-items: center;
}

.dialogheader {
	margin-left: 20px;
	margin-top: 20px;
	font-weight: bold;
	font-size: 18px;
}

.dialoglabel {
	font-size: 15px;
	flex-grow: 0;
	margin-right: 5px;
	margin-top: 0px;
}

.dialognumber {
	font-size: 14px;
	flex-grow: 0;
	margin-top: 0px;
}

.dialogtop {
	width: 100%;
	background: #fa0;
	padding: 10px;
	margin: 0px;
	box-sizing: border-box;
}

.plusminusbutton {
	border: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-left: 3px;
	margin-right: 3px;
	font-size: 14px;
	background-color: #fff;
}

.plusminusbutton:hover {
	background-color: #ddd;
}

.scratchicon {
	width: 20px;
	height: 20px;
	padding: 5px;
	display: inline;
	margin: 0px;
}

.scratchicon:hover {
	background: #ffe0c0;
	border-radius: 5px;
}

.scratchwidthcontainer {
	width: var(--pagewidth);
}

#closesettingsicon {
	width: 10px;
	height: 10px;
	padding: 10px;
	border-radius: 15px;
	background: #d87800;
	float: right;
}

#closesettingsicon:hover {
	background: #ad6000;
}

#scratchurl {
	width: var(--pagewidth);
	border: 0;
	font-size: 24px;
	color: #808080;
}

#scratchurl:focus {
	color: #000;
	outline: none;
}

#settingsdialog {
	width: 500px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 0px;
}

#settingsicon {
	position: fixed;
	top: calc(100% - 90px);
	left: calc(100% - 90px);
	width: 35px;
	height: 35px;
	padding: 12.5px;
	background: #dae0e8;
	border-radius: 30px;
}

#settingsicon:hover {
	background: #c2cbd8;
}

#window {
	border: 1px solid #808080;
	width: var(--pagewidth);
	height: calc(0.75 * var(--pagewidth));
}